<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} %style{${hostName}}{magenta} [%t]
            %style{%C{1.}}{cyan}: %msg%n%throwable
        </Property>
        <Property name="profile">${bundle:application:spring.profiles.active}</Property>
        <Property name="filename">$${bundle:application:logging.file.name:-app}</Property>
        <Property name="default.masked.text">--MASKED--</Property>
        <Property name="default.masked.fields">password,platform_user_id,id,deleted</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="SqlFileAppender"
                     fileName="log/sqlLog.log"
                     filePattern="log/sqlLog-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <Rewrite name="RewriteSqlFiles">
            <SqlRewritePolicy maskedText="${default.masked.text}"
                              maskedFields="${default.masked.fields}"/>
            <AppenderRef ref="SqlFileAppender"/>
        </Rewrite>
        <Rewrite name="RewriteConsole">
            <SqlRewritePolicy maskedText="${default.masked.text}"
                              maskedFields="${default.masked.fields}"/>
            <AppenderRef ref="Console"/>
        </Rewrite>
    </Appenders>
    <Loggers>
        <Logger name="net.ttddyy.dsproxy.listener" level="DEBUG" additivity="false">
            <AppenderRef ref="RewriteSqlFiles"/>
            <AppenderRef ref="RewriteConsole"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>